<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header') %>
  <div class="container mt-4">
  <h2 class="mb-4">Lista de Préstamos</h2>
     
  <!-- Buscador -->
  <form class="d-flex mb-3" method="POST" action="/prestamos">
    <input class="form-control me-2" type="search" placeholder="Buscar por alumno o herramienta" name="q">
    <button class="btn btn-outline-primary" type="submit">Buscar</button>
  </form>
  <div class="button_sd" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
  <a href="/prestamos/add" class="btn btn-primary mb-3">Agregar Nuevo Préstamo</a>
  <form action="/prestamos/reporte" method="post">
    <input type="submit" value="Generar Reporte PDF" class="btn btn-danger mb-3">
  </form>
  </div>
  <!-- Tabla -->
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Alumno</th>
        <th>Herramienta</th>
        <th>Profesor</th>
        <th>Fecha Préstamo</th>
        <th>Fecha Devolución</th>
        <th>Estado</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <% prestamos.forEach(p => { %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.estudiantes.nombre %></td>
          <td><%= p.herramientas.nombre %></td>
          <td><%= p.profesor_encargado %></td>
          <td><%= p.fecha_prestamo %></td>
          <td><%= p.fecha_devolucion_real %></td>
          <td>
            <% if(p.estado == 'Devuelto'){ %>
              <span class="badge bg-success">Devuelto</span>
            <% } else { %>
              <span class="badge bg-danger">Pendiente</span>
            <% } %>
          </td>
          <td>
            <form action="" method="post">
            <a href="/prestamos/<%= p.id %>/editar" class="btn btn-sm btn-warning">Editar</a>
            </form>
            <form action="" method="post">
            <a href="/prestamos/<%= p.id %>/eliminar" class="btn btn-sm btn-danger">Eliminar</a>
          </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

  <!-- Bootstrap JS -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
