<!DOCTYPE html>
<html lang="en"> 
<%- include('../partials/head') %>  
<body>
<div class="container mt-4">
  <h2 class="mb-3">Registrar Préstamo</h2>
  <form method="POST" action="/prestamos/add">
    <div class="mb-3">
      <label for="alumno" class="form-label">Nombre del Alumno</label>
      <select class="form-select" id="estudiante" name="estudiante" required>
        <option value="">Seleccione a un Estudiante</option>
        <% estudiantes.forEach(h => { %>
          <option value="<%= h.id %>"><%= h.nombre %> - <%= h.curso %></option>
        <% }) %>
      </select>    </div>

    <div class="mb-3">
      <label for="herramienta" class="form-label">Herramienta</label>
      <select class="form-select" id="herramienta" name="herramienta" required>
        <option value="">Seleccione una herramienta</option>
        <% herramientas.forEach(h => { %>
          <option value="<%= h.id %>"><%= h.nombre %> - <%= h.cantidad %></option>
        <% }) %>
      </select>
    </div>

    <div class="mb-3">
      <label for="profesor" class="form-label">Profesor a cargo</label>
      <input type="text" class="form-control" id="profesor" name="profesor" required>
    </div>
    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad de herramientas a prestar</label>
      <input type="text" class="form-control" id="cantidad" name="cantidad" required>
    </div>

    <div class="mb-3">
      <label for="observaciones" class="form-label">observaciones</label>
      <input type="text" class="form-control" id="observaciones" name="observaciones" required>
    </div>
  <div class="mb-3">
      <label for="fecha_prestamo" class="form-label">Fecha de Préstamo</label>
      <input type="datetime" class="form-control" id="fecha_prestamo" name="fecha_prestamo" required>
    </div>

    <button type="submit" class="btn btn-primary">Registrar Préstamo</button>
  </form>
</div>
</body>
</html>
