<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header') %>
  <div class="container mt-4">
    <h1 class="text-center">Gestión de Herramientas</h1>
  </div>
  <div class="container mt-4">
  <h2 class="mb-4">Préstamos de Herramientas</h2>

  <!-- Buscador -->
  <form class="d-flex mb-3" method="POST" action="/">
    <input class="form-control me-2" type="search" placeholder="Buscar por alumno o herramienta" name="q">
    <button class="btn btn-outline-primary" type="submit">Buscar</button>
  </form>

  <!-- Tabla -->
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Alumno</th>
        <th>Herramienta</th>
        <th>Profesor</th>
        <th>Fecha Préstamo</th>
        <th>Fecha Devolución</th>
        <th>Estado</th>
        <% if(usuario){ %>
          <!--  != 3 && usuario.role_id != 2 -->
        <% if(usuario.role_id){  %>
        <th>Acción</th>
        <% } %>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% prestamos.forEach(p => { %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.estudiantes.nombre %></td>
          <td><%= p.herramientas.nombre %></td>
          <td><%= p.profesor_encargado %></td>
          <td><%= p.fecha_prestamo %></td>
          <td><%= p.fecha_devolucion_real %></td>
          <td>
            <% if(p.estado === 'Devuelto'){ %>
              <span class="badge bg-success">Devuelto</span>
            <% } else { %>
              <span class="badge bg-danger">Pendiente</span>
            <% } %>
          </td>
                  <% if(usuario) {%>
                  <% if(usuario.role_id){  %>

          <td>
              <% if(p.estado == "Pendiente") {%>
            <form action="" method="post">
              <input type="submit" value="Devolver" class="btn btn-primary">
            </form>
            <% }else{ %>
              <form action="" method="post">
                      <a href="#" class="btn btn-primary">Entregado</a>
              </form>
            <% } %>
          </form>
          </td>
          <% } %>
          <% } %>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

  <!-- Bootstrap JS -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
